* {
     margin:0;
     padding:0;
     box-sizing: !important border-box;
     color: var(--blue0);
 }
:root {
     --df-bg: rgb(1,0,120);
 }
body {
    min-height:100vh;
    /* background: linear-gradient(to top, var(--blue4), var(--blue5), var(--blue6));
    */background-color: var(--df-bg);*/
    
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}
.headerItem {
    padding: 10px 2%;
    max-width: min-content;
}

.headerItem:hover {
    background-color: var(--blue1);
    background-blend-mode: screen;
    color: var(--gray7);
}
/* --------- responsive design -------- */

/*------------constraction-----------*/

.beta.on {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2em;
  font: mono italic var(--blue2);
  font-size: 5vw;
  background: var(--blue8);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw; 
}
